/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.07.2015, 11:41:17
    Author     : Ислам
*/

*{
    padding: 0;
    margin: 0;
}

.clear{
    clear: both;
}

.right{
    float: right;
}

.left{
    float:  left;
}

.requared:before{
    float: right;
    color: #f00;
    padding: 0 3px 0 0;
    text-align: center;
    vertical-align: middle;
    content: '*';
}