{# dir: site #}
{% extends "layouts/content.twig" %}
{%- block headTitle -%}
    Главная
{%- endblock headTitle -%}

{% block headMeta %}
{% endblock headMeta %}

{% block headLink %}
{% endblock headLink %}

{% block content %}
    <div id="blocks">
        {%  for item in items %}
            <div class="block">
                {{ CHtml.link(item.title, 'category/groups/'~item.link)|raw }}
            </div>
        {% endfor %}
    </div>
{% endblock content %}